version: '3.8'

services:
  dataplane:
    image: p4lang/behavioral-model:stable
    command:  ['sh', '-c', 'simple_switch_grpc --log-console --device-id 0  -i 0@pkt-src-br-1 -i 1@pkt-dst-br-1 /root/build/basicv3.json -- --grpc-server-addr 0.0.0.0:50051']
    volumes:
      - ./example/p4_build:/root/build

  test-controller:
    build: ./example/controller
    volumes:
      - ./example/controller:/app
      - ./example/p4_build:/app/build
      - ./common:/app/common
    depends_on: 
      - p4runtime-proxy 

