# Python byte code
*.pyc
*.pyo

# Emacs
*~

# Extracted solutions
solution*/
!solution/

# Build folders
build*/

# Logs folders
logs/

# Vagrant
.vagrant/

# Mac OS
*.DS_Store

# IntelliJ / PyCharm
.idea/

__temporary_test_folder
release
__build_cache
results
venv

.env

/proxy_config.json