services:
  redis:
    image: redis:alpine
    container_name: p4_proxy_redis
    ports:
      - "6379:6379" # for debug purpose
    restart: always

  p4runtime-proxy:
    build: .
    ports:
      - "60051-60059:60051-60059"
    volumes:
      - ./:/app/
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379


