services:
  dataplane:
    image: p4lang/behavioral-model:stable
    command:  ['sh', '-c', 'simple_switch_grpc --log-console --device-id 0  -i 0@pkt-src-br-1 -i 1@pkt-dst-br-1 /root/build/basicv3.json -- --grpc-server-addr 0.0.0.0:50051']
    volumes:
      - ./example/p4_build:/root/build
    healthcheck:
      test: ["CMD-SHELL", "bash -c 'cat < /dev/null > /dev/tcp/127.0.0.1/50051' || exit 1"]
      interval: 2s
      timeout: 2s
      retries: 10
      start_period: 1s

  p4runtime-proxy:
    depends_on:
      redis:
        condition: service_started

      dataplane:
        condition: service_healthy

  test-controller:
    build: ./example/controller
    volumes:
      - ./example/controller:/app
      - ./example/p4_build:/app/build
      - ./common:/app/common
    depends_on: 
      - p4runtime-proxy
