#API_HOST='127.0.0.1'
#API_PORT=8080

#NODE_P4_PROGRAM_NAME='scalable_balancer_fwd'

#BALANCER_HOST='127.0.0.1'
#BALANCER_PORT=50051
#BALANCER_DEVICE_ID=0
#BALANCER_P4_PROGRAM_NAME='scalable_simple_balancer'